:root {
    --pywal-black: #021218;
    --pywal-red: #85D12E;
    --pywal-green: #217FB6;
    --pywal-brown: #26CACF;
    --pywal-blue: #3FD672;
    --pywal-purple: #5EDBA4;
    --pywal-cyan: #91E2A9;
    --pywal-light_gray: #D9E0D9;

    --custom-orange: #D9A72D;
}
