global !p
import re

def upper_snake_case(inp):
    return re.sub(r'(?<!^)(?=[A-Z])', '_', inp).upper()

def unique_qt_header():
    snip.rv = upper_snake_case(snip.fn).replace('.', '_')

endglobal


snippet qth "Qt Creator header"
#ifndef `!p unique_qt_header()`
#define `!p unique_qt_header()`

$0

#endif // `!p unique_qt_header()`
endsnippet
